#ap_wrap {float: left; width: 100%;}
#ap_contentwrap {float: left; width: 100%; min-width: 700px; margin-right: -261px;}
#ap_content {margin-right: 261px; }
#ap_sidebar {float: left; width: 260px; } 
#ap_title{padding-left:10px}
/*
#ap_footer{clear: left;width: 100%;text-align: center;padding: 4px 0;
      -moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;}
*/	
.ap_inner{margin:10px}
.ap_box{border: 1px solid #DFDFDF;
      background-color:#f9f9f9;
      margin-bottom: 20px;
      -moz-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-webkit-border-radius: 10px;}
.input_box{margin:10px 0 10px 0;height:30px;}

.code{font-family:"Courier New", sans-serif;margin:10px 0 10px 0;}


.ap_inner ul{margin:10px 0 10px 0;list-style-type: none;}
.ap_inner ul li{line-height:16px}
.ap_inner ul li a{text-decoration:none}
.ap_inner ul li a:hover{text-decoration:none}
.ap_inner ul li img{margin-bottom:-3px;}

.ap_clear{clear:both}

